body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(152, 231, 204);
    text-align: center;
    margin: 20px;
}

h1{
    color: black;
    margin-bottom: 30px;

}

.product-box{
    background-color: burlywood;
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 2px solid pink;
    border-radius: 8px;
}

.product-box img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-box h2{
    color: rgb(28, 14, 150);
    font-size: 20px ;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(137, 84, 84);
}
